*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}
body, html{
  background-color: white;
  height: 100dvh;
}
a {
  text-decoration: none;
  color: #000;
}
