.educator-dashboard{
    display: grid;
    position: relative;
    grid-template-columns: 280px 1fr;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-gutter: 0;
}
.educator-dashboard-large{
    display: grid;
    position: relative;
    grid-template-columns: 100px 1fr;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.educator-dashboard-large main{
    margin: 40px 100px;
}
.educator-dashboard main{
    margin: 40px 100px;
}
.educator-humburger-menu{
    display: none;
}

@media(max-width: 1240px){
    .educator-dashboard{
        display: grid;
        grid-template-columns: 1fr;
    }
    .educator-dashboard main{
        margin: 40px 50px;
    }
    .educator-humburger-menu{
        display: flex;
        align-items: center;
        position: absolute;
        top: 6px; 
        left: 5px;
        background: #fff; 
        border: 1px solid #cdcccc; 
        border-radius: 5px;
        padding: 8px 6px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        cursor: pointer;
    }
}
@media(max-width: 630px){
    .educator-dashboard main{
        margin: 40px 10px;
    }
}
