.navbar{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 14px 5%;
    z-index: 1;
    background-color: white;
    box-shadow: rgba(139, 141, 142, 0.2) 0px 8px 24px;
    border-bottom: #c5c5c5;
}

.brand{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    color: black;
}

.logo{
    width: 40px;
}
.navbar-profile{
    display: flex;
    align-items: center;
    gap: 20px;
}
.user-logo{
    width: 40px;
    height: 40px;
    border: 1px solid #c5c5c5;
    border-radius: 50%;
}
.navbar-profile .dropdown{
    position: absolute;
    top: 80%;
    right: 4%;
    z-index: 1;
    width: fit-content;
    background-color: #000000b3;
    color: white;
    padding: 4px 6px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    display: none;
}
.navbar-profile div:hover .dropdown{
    display: inline;
}
.user-icon p{
    font-size: 14px;
    color: #1c1c1c;
    cursor: pointer;
}
.navbar button{
    border: none;
    background-color: #0e4af0;
    color: #fff;
    border-radius: 20px;
    padding: 4px 10px;
    cursor: pointer;
}