.navbar{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 14px 3%;
    z-index: 1;
    background-color: white;
    box-shadow: rgba(139, 141, 142, 0.2) 0px 8px 24px;
    border-bottom: #c5c5c5;
}

.mobile-humburger{
    display: none;
}

.brand{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    color: black;
}
.brand-group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    color: black;
}
.logo{
    width: 40px;
}
.navbar-profile{
    display: flex;
    align-items: center;
    gap: 20px;
}
.user-logo{
    width: 40px;
    height: 40px;
    border: 1px solid #c5c5c5;
    border-radius: 50%;
    cursor: pointer;
}
.navbar-profile .dropdown{
    position: absolute;
    top: 60px;
    right: 4px;
    z-index: 1;
    width: fit-content;
    background-color: #fffefe;
    box-shadow: rgba(139, 141, 142, 0.2) 0px 8px 24px;
    border: 1px solid #dbdada;
    color: black;
    /* padding: 10px 26px; */
    border-radius: 5px;
    font-size: 14px;
    display: none;
}
.navbar-profile div:hover .dropdown{
    display: inline;
}
.navbar-profile div p{
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    padding: 10px 26px;
    border-bottom: 1px solid #dbdada;
}
.navbar-profile div p:last-child{
    border-bottom: none;
}
.navbar-profile div p:hover{
    background-color: #7e9df143;
}
.user-icon p{
    font-size: 14px;
    color: #1c1c1c;
    cursor: pointer;
}
.navbar button{
    border: none;
    background-color: #0e4af0;
    color: #fff;
    border-radius: 20px;
    padding: 4px 10px;
    cursor: pointer;
}

@media(max-width: 380px){
    .navbar-profile div p{
        font-size: 15px;
        font-weight: 400;
        cursor: pointer;
        padding: 8px 10px;
        border-bottom: 1px solid #dbdada;
    }
}

@media(max-width: 1240px){
    .mobile-humburger{
        display: inline;
        margin-top: 5px;
    }
}