#sidebar{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap:10px;
    border-right: 1px solid #dcdcdc;
    transition: 0.3s, ease-out;
}
/* #sidebar-small{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    border-right: 1px solid #dcdcdc;
    width: 100px;
    transition: 0.3s, ease-in;
} */

/* .sidebar-brand-small{
    padding: 15px 16%;
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
} */
/* .sidebar-brand-small:hover{
    background-color: #7e9df143;;
} */
.sidebar-brand{
    padding: 15px 16%;
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}
.sidebar-brand:hover{
    background-color: #7e9df143;
    border-right: 5px solid #0e4af0;
}
.sidebar-brand span{
    font-size: 14px;
    font-weight: 430;
}
.mobile-side-bar{
    display: none;
}

@media(max-width: 1240px){
    #sidebar{
        display: none;
    }
    .mobile-side-bar{
        position: absolute;
        width: 280px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 10px;
        transition: 0.3s, ease-out;
        left: 0;border-right: 1px solid #dcdcdc;
        background-color: #faf7f7;
        z-index: 1;
    }
    .sidebar-closer{
        align-self: flex-end;
        margin: 10px;
        cursor: pointer;
    }
}

@media(max-width: 530px){
    .sidebar-brand{
        padding: 15px 10%;
        display: flex;
        align-items: center;
        gap: 20px;
        cursor: pointer;
    }
    .mobile-side-bar{
        position: absolute;
        width: 240px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 10px;
        transition: 0.3s, ease-out;
        left: 0;border-right: 1px solid #dcdcdc;
        background-color: #faf7f7;
    }
}