
.footer{
    border-top: 1px solid #dbdada;
    /* width: 100%; */
    background-color: #e8e9ed;
    color: #000;
    padding: 20px 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.logo-section{
    max-width: 450px;
}
.logo-section .footer-logo{
    display: flex;
    gap: 5px;
    align-items: center;
}
.logo-section img{
    width: 46px;
}
.logo-section h1{
    font-size: 20px;
    font-weight: 500;
}
.logo-section p{
    font-size: 14px;
    margin-top: 10px;
}
.about-platform ul{
    list-style: none;
}
.about-platform li:hover{
    text-decoration: underline;
    cursor:pointer;
}
.about-platform ul li{
    padding-top: 8px;
}
.feedback-section p{
    font-size: 14px;
    margin-bottom: 5px;
}
.feedback-section textarea{
    width: 100%;
    height: 74px;
    padding: 4px 6px;
    font-size: 14px;
    outline: none;
    border-radius: 2px;
    border: none;
    border: 1px solid #dbdada;
}
.feedback-section textarea::placeholder{
    font-size: 13px;
}
.feedback-section button{
    color: #fff;
    border: none;
    background-color: #0e4af0;
    padding: 2px 4px;
    border-radius: 2px;
    font-size: 12px;
}

@media(max-width:940px){
    .feedback-section{
        display: none;
    }
}
@media(max-width: 630px){
    .footer{
        border-top: 1px solid #dbdada;
        background-color: #e8e9ed;
        color: #000;
        padding: 20px 5%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        z-index: 1;
    }
    .logo-section{
        width: 100%;
    }
    .about-platform ul{
        display: flex;
        gap: 40px;
        font-size: 13px;
        margin-top: 10px;
    }
}