.home{
    padding: 0 5%;
}
.popular-course{
    margin-top: 80px;
}
.popular-course h1{
    font-size: 30px;
    color: #282828;
    text-align: center;
}
.popular-course .subheading{
    color: #5b5b5b;
    text-align: center;
    font-size: 13px;
}
.course{
    margin-top: 18px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    gap: 40px;
}
.course .course-card img{
    width: 100%;
    height: 180px;
}
.course .course-card{
    /* width: 250px; */
    border: 1px solid #dbdada;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fffefe;
}
.course .course-card div{
    padding: 4px 12px;
}
.course-card div .star-section{
    display: flex;
    gap: 5px;
    padding: 0;
    /* align-items: center; */
}
.course .course-card div .card-title{
    font-size: 16px;
    font-weight: 500;
}
.course .course-card div .card-owner{
    font-size: 13px;
    color:#5b5b5b;
}

.course-card div .card-label{
    width: fit-content;
    color: #fff;
    padding: 2px 10px;
    font-size: 13px;
    border-radius: 2px;
    margin: 8px 0;
    background-color:#04b338;
}


.course-card div .avg-rating{
    font-size: 13px;
}
.course-card div .rating-no{
    font-size: 13px;
}
.popular-course .call-to-action-button{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.popular-course .call-to-action-button span{
    background-color: #edecec;
    padding: 4px 10px;
    border:1px solid #a3a0a0;
}