.home{
    padding: 0 5%;
}
.course{
    margin-top: 18px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-content: center;
    gap: 40px;
}
.popular-course{
    margin-top: 80px;
}
.popular-course h1{
    font-size: 30px;
    color: #282828;
    text-align: center;
}
.popular-course .subheading{
    color: #5b5b5b;
    text-align: center;
    font-size: 13px;
}

.popular-course .call-to-action-button{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.popular-course .call-to-action-button span{
    background-color: #edecec;
    padding: 4px 10px;
    border:1px solid #a3a0a0;
}