.course-card img{
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
}
 .course-card{
    /* width: 250px; */
    border: 1px solid #dbdada;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fffefe;
    cursor: pointer;
}
 .course-card div{
    padding: 4px 12px;
}
.course-card div .star-section{
    display: flex;
    gap: 5px;
    padding: 0;
    /* align-items: center; */
}
 .course-card div .card-title{
    font-size: 16px;
    font-weight: 500;
}
 .course-card div .card-owner{
    font-size: 13px;
    color:#5b5b5b;
}

.course-card div .card-label{
    width: fit-content;
    color: #fff;
    padding: 2px 10px;
    font-size: 13px;
    border-radius: 2px;
    margin: 8px 0;
    background-color:#04b338;
}


.course-card div .avg-rating{
    font-size: 13px;
}
.course-card div .rating-no{
    font-size: 13px;
}