.course-list{
    padding: 0 5%;
}

.course-list .search-section{
    margin-top: 40px;
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-section span{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    font-weight: 450;
}

.course-list .course-list-input{
    display: flex;
    width: 50%;
    align-items: center;
    border: 1px solid #dbdada;
    border-radius: 5px;
    overflow: hidden;
    
}
.course-list-input input{
    flex: 1;
    border: none;
    outline: none;
    padding: 8px 16px;
    font-size: 16px;
}
.course-list-input button{
    border: none;
    padding: 9px 18px;
    color: white;
    background-color: #0e4af0;
    border-radius: 5px;
}
.all-course{
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    gap: 40px;
}
@media(max-width: 720px){
    .course-list .search-section{
        margin-top: 40px;
        padding: 0 5px;
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: normal;
    }
    .search-section span{
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: flex-start;
        font-size: 19px;
        font-weight: 450;
        margin-bottom: 10px;
    }
    .course-list .course-list-input{
        display: flex;
        width: 100%;
        align-items: center;
        border: 1px solid #dbdada;
        border-radius: 5px;
        overflow: hidden;
        
    }
}