/* Course Section */
.mycourse h1{
    font-size: 30px;
    margin-bottom: 20px;
}
.mycourse-container{
    border: 1px solid #dbdada;
    border-radius: 5px;
    margin-top: 20px;
    background-color: #ffffff;
}

.mycourse-card{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dbdada;
    padding: 5px 10px;
    /* margin-bottom: 10px; */
}


.mycourse-card-left img{
    width: 100px;
    border-radius: 5px;
}
.mycourse-card-left{
    display: flex;
    gap: 20px;
}
.mycourse-card-left .course-title{
    font-weight: 500;
}
.mycourse-card-left .date{
    font-size: 13px;
}

.my-course-card-right{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.my-course-card-right button{
    margin-left: 20px;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.my-course-card-right .delete{
    background-color: rgb(244, 59, 59);
}
.my-course-card-right .edit{
    background-color: #0e4af0;
}
.my-course-card-right .accordion{
    background: none;
}


/* Course Chapter Section */
.course-chapter{
    display: none;
}
.chapter-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px;
    border-bottom: 1px solid #dbdada;
    border-top: 1px solid #dbdada;
    background-color: #e6e4e4;
}
.chapter-info .s-no{
    margin-right: 10px;
    font-weight: 500;
    font-size: 17px;
}
.chapter-info button{
    background: none;
    border: none;
    cursor: pointer;
}

/* Show Chapter Dropdown */
.course-chapter-expand{
    display: flex;
    flex-direction: column;
}

/* Course Chapter Lesson */
.course-lesson{
    margin: 20px 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
}
.course-lesson .lesson{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dbdada;
    padding-bottom: 3px;
}
.course-lesson .lesson-btn{
    display: flex;
    align-items: center;
    gap: 30px;
}
.lesson-btn button{
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    /* border: 1px solid #dbdada; */
}
.lesson-btn .delete{
    background-color: #dbdada;
    color: #000;
    cursor: pointer;
}
.lesson-btn .update{
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
.course-lesson .add-lesson{
    display: flex;
    /* justify-content: space-between; */
    gap: 30px;
    align-items: center;
    margin-top: 20px;
}
.course-lesson .add-lesson input{
    width: 50%;
    padding: 10px 20px;
    font-weight: 400;
    font-size: 16px;
    border: none;
    border: 1px solid #dbdada;
    border-radius: 5px;
    outline: none;
}
.course-lesson .add-lesson button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
}

/* Show Course Lesson */
.course-lesson-hide{
    display: none;
}

@media(max-width: 885px){
    .mycourse-card{
        flex-direction: column;
        align-items: baseline;
    }
    .my-course-card-right{
        display: flex;
        justify-content: space-between;
        align-self: normal;
        margin-top: 20px;
        padding-top: 10px;
        border-top: 1px solid #dbdada;
    }
    .my-course-card-right button{
        margin-left: 0px;
        padding: 6px 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .chapter-info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 10px;
        border-bottom: 1px solid #dbdada;
        border-top: 1px solid #dbdada;
        background-color: #e6e4e4;
    }
    .course-lesson{
        margin: 20px 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        cursor: pointer;
    }
}

@media(max-width: 650px){
    .course-lesson .lesson{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px solid #dbdada;
        padding-bottom: 3px;
    }
    .course-lesson .lesson-btn{
        display: flex;
        margin-top: 10px;
        align-items: center;
        gap: 30px;
    }
    .course-lesson .add-lesson{
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        gap: 30px;
        align-items: flex-start;
        margin-top: 20px;
    }
    .course-lesson .add-lesson input{
        width: 100%;
        padding: 10px 20px;
        font-weight: 400;
        font-size: 16px;
        border: none;
        border: 1px solid #dbdada;
        border-radius: 5px;
        outline: none;
    }
}