.article-sidebar-main{
    height: 100%;
    position: relative;
}
.article-sidebar-container{
    height: 100%;
    border-right: 1px solid #dcdcdc;
    overflow-y: scroll;
    scrollbar-width: none; 
    padding: 20px 0;
}
.article-sidebar-container h3{
    /* display: flex;
    justify-content: center;
    padding-bottom: 10px; */
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 450;
    border-bottom: 1px solid #cdcccc;
}
/* .article-sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.chapter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    border-bottom: 1px solid #cdcccc;
}

.chapter-container .chapter:hover{
    background-color: #7e9df143;
    /* border-right: 5px solid #0e4af0; */
}

.chapter-container .chapter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Lesson Container */

.lesson-container .lesson{
    background-color: #f0f0f0;
    border-top: 1px solid #cdcccc;
    padding: 10px 28px;
    cursor: pointer;
}
.chapter-container .lesson:hover{
    background-color: #7e9df143;
    /* border-right: 5px solid #0e4af0; */
}

.mobile-article-sidebar{
    display: none;
}

.hamburgear-menu{
    display: none;
}

@media(max-width: 1024px){
    .mobile-article-sidebar{
        display: block;
        width: 280px;
        position: absolute;
        background-color: #fff;
        height: 100%;
        border-right: 1px solid #dcdcdc;
        overflow-y: scroll;
        scrollbar-width: none; 
        /* padding: 20px 0; */
    }
    .mobile-article-sidebar h3{
        padding: 10px 20px;
        font-size: 18px;
        font-weight: 450;
        border-bottom: 1px solid #cdcccc;
    }
    .article-sidebar-container{
        display: none;
    }

    .hamburgear-menu{
        display: flex;
        align-items: center;
        position: absolute;
        top: 6px; 
        left: 5px;
        background: #fff; 
        border: 1px solid #cdcccc; 
        border-radius: 5px;
        padding: 8px 6px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        cursor: pointer;
    }
}